bios>=0.1.2
camb>=1.6.0
emcee>=3.1.6
getdist>=1.6.4
jax>=0.4.30
matplotlib>=3.11.2
nautilus-sampler>=1.0.6
numpy>=2.5.3
pandas>=1.5.3
pytest>=8.3.4
scipy>=1.18.1
seaborn>=0.13.2
setuptools>=78.1.1
streamlit>=1.50.0
